//  Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto&display=swap");
$primary_font: "Montserrat";
$secondary_font: "Roboto";

//  Colors
$primary_color: #572ee5;
$search_text_color: #6b7989;
$footer_icons_color: #cdd6e0;
$accents_color: #50e3c2;
$background_color: #ffffff;
$background_alt_color: #f3f5f8;
$black_color: #000000;

//  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
//  THIS IS FOR TESTING AND ORDER PURPOSES, CLEAN IT BEFORE SHIP IP!!!
* {
    color: $primary_color;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
}

img {
    // height: 243px;
    // max-width: 243px;
    // display: block;
    max-width: 243px;
    max-height: 187px;
    width: auto;
    height: auto;
}

hr {
    width: 42vw;
    opacity: 0.5;
    border: 1px solid #9cafc3;
}

#section_hero {
    .img_hero {
        position: relative;
        top: 5px;
        width: 273px;
        margin: 0;
    }
}

#video_cam_preview {
    width: 300px;
}
// <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

h1 {
    font-family: $primary_font;
    font-size: 25px;
    color: $primary_color;
    line-height: 33px;
    font-weight: 600;
    margin-left: 12vw;
    margin-right: 12vw;

    & span {
        color: $accents_color;
    }
}

h2 {
    font-family: $primary_font;
    font-size: 20px;
    color: $primary_color;
    text-align: center;
    line-height: 30px;
    font-weight: 600;
}

h3 {
    font-family: $primary_font;
    font-size: 16px;
    text-align: center;
    line-height: 25px;
}

h4 {
    font-family: $primary_font;
    font-size: 16px;
    color: $primary_color;
    text-align: center;
    line-height: 25px;
    margin-top: 20px;
}

p {
    font-family: $secondary_font;
    font-size: 16px;
    color: $black_color;
    text-align: center;
    line-height: 23px;
    padding: 0 25px 0 25px;
}

input {
    position: relative;
    top: 11px;
    color: $search_text_color;
    font-family: $secondary_font;
    font-size: 16px;
    text-align: left;
    height: 22px;
    width: 57vw;
    border: none;
    &:focus {
        outline: none;
    }
}

.input_box {
    background: $background_color;
    border: 1px solid $primary_color;
    border-radius: 27px;
    width: 334px;
    height: 50px;
    position: relative;
    //left: 6vw;
    margin: 0 auto;
    .icon_search {
        position: relative;
        top: 15px;
        right: -25px;
        width: 20px;
    }
}

.capitalized {
    text-transform: capitalize;
}

.hidden {
    display: none;
}

.icon_social {
    height: 20px;
    max-width: 20px;
}

#section_trending {
    background-color: $background_alt_color;
    margin-top: 4vh;
    margin-bottom: 4vh;
    padding: 24px 0 24px 0;
}

#btn_show_more {
    display: none;
}

#trending_links_container {
    width: 60vw;
    margin-bottom: 4vh;
    font-family: $primary_font;
    font-weight: 500;
    font-size: 14px;
    color: $primary_color;
    text-align: center;
    line-height: 25px;
}

#trending_gifs_container {
    position: relative;
    margin-left: -50px;
    width: 200vw;
    height: 300px;
    & img {
        
        display: inline;
        overflow: hidden;
    }
}

#div_suggestions {
    position: relative;
    //display: none;
    margin: 0 auto;
    width: 334px;
    background: #ffffff;
    border: 1px solid #572ee5;
    border-radius: 27px;
}

nav {
    display: flex;
}

.img_logo {
    position: relative;
    right: 0;
    width: 48px;
    height: 48px;
}

.menu-btn {
    position: relative;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 15px;
    height: 14px;
}

.menu-btn__burger {
    width: 15px;
    height: 2px;
    background: black;
    border-radius: 1px;

    &::before,
    &::after {
        content: "";
        left: 0;
        width: 100%;
        position: absolute;
        height: 2px;
        background: black;
        border-radius: 1px;
    }
    &::before {
        transform: translateY(-5px);
    }
    &::after {
        transform: translateY(5px);
    }
}
